Oracle 11g PL_SQL Programming.pdf
Oracle 12c SQL.pdf
~$.2 Practice Problems - Table Creation and Management.docx

Module 2/IT314_PracticeProblems_Constraints_Hints.pdf
Module 2/M2.2 Practice Problems - Table Creation and Management.docx
Module 2/M2.3 Practice Problems  - Constraints  .docx

Module 3/M3.3 Practice Problems - Creating Complex Conditions  .docx
Module 3/M3.2 Practice Problems – Basic DML and Transaction Control.docx
Module 3/Thalia Edwards - 3.3 Hands On Assignment.docx
Module 3/Thalia Edwards - M3.3 Practice Problems.docx

Module 4/Thalia Edwards - 4.3 Hands-On Assignment.docx
Module 4/M4.3 Practice Problems - Joining Data from Multiple Tables  .docx

Module 7/IT 314 Midterm Cheat Sheet v1.docx
Module 7/IT314_Midterm_DB_Printout.pdf
Module 7/IT 314 Midterm Cheat Sheet v2.docx

Module 8/Thalia Edwards - M8.2 Practice Problems - Basic PL_SQL Block Structures.docx
Module 8/sqldeveloper-24.3.1.347.1826-x64.zip
Module 8/Screenshot 2025-10-19 224024.png
Module 8/Thalia Edwards - 8.2 Hands On Assignment.docx

Module 9/docs and scripts/